@font-face {
    font-family: "PoppinsBlack";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: url("./Poppins-Black.ttf") format("tff");
}
@font-face {
    font-family: "PoppinsBold";
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: url("./Poppins-Bold.ttf") format("tff");
}
@font-face {
    font-family: "PoppinsRegular";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: url("./Poppins-Regular.ttf") format("tff");
}
@font-face {
    font-family: "PoppinsMedium";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    src: url("./Poppins-Regular.ttf") format("tff");
}
